* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

body {
  overflow-x: hidden;
  min-height: 330vh;
  background: #0a2a43;
}
body header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #23232e;
  height: 8vh;
}
body header nav .logo {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  opacity: 0.7;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
body header nav .logo span {
  color: red;
}
body header nav .mobile-menu {
  display: none;
  cursor: pointer;
}
body header nav .mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
}
body header nav .nav-list {
  list-style: none;
  align-items: center;
  display: flex;
  margin-bottom: 0;
}
body header nav .nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
  transition: 0.4s;
}
body header nav .nav-list li a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  opacity: 0.7;
}
body header nav .nav-list li:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 999px) {
  body header nav .mobile-menu {
    display: block;
  }
  @-webkit-keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @-webkit-keyframes animateLine1 {
    0% {
      transform: translate(0, 0) rotate(0);
    }
    100% {
      transform: rotate(-45deg) translate(-8px, 8px);
    }
  }
  @keyframes animateLine1 {
    0% {
      transform: translate(0, 0) rotate(0);
    }
    100% {
      transform: rotate(-45deg) translate(-8px, 8px);
    }
  }
  @-webkit-keyframes animateLine3 {
    0% {
      transform: translate(0, 0) rotate(0);
    }
    100% {
      transform: rotate(45deg) translate(-5px, -7px);
    }
  }
  @keyframes animateLine3 {
    0% {
      transform: translate(0, 0) rotate(0);
    }
    100% {
      transform: rotate(45deg) translate(-5px, -7px);
    }
  }
  body header nav .mobile-menu .line1 {
    transition: 0.5s;
  }
  body header nav .mobile-menu .line2 {
    transition: 0.5s;
  }
  body header nav .mobile-menu .line3 {
    transition: 0.5s;
  }
  body header nav .mobile-menu.active .line1 {
    -webkit-animation: animateLine1 0.5s forwards;
            animation: animateLine1 0.5s forwards;
  }
  body header nav .mobile-menu.active .line2 {
    opacity: 0;
  }
  body header nav .mobile-menu.active .line3 {
    -webkit-animation: animateLine3 0.5s forwards;
            animation: animateLine3 0.5s forwards;
  }
  body header .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: rgba(35, 35, 46, 0.8980392157);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: 0.5s;
    z-index: 19;
  }
  body header .nav-list li {
    margin-left: 0;
    opacity: 1;
  }
  body header .nav-list.active {
    transform: translateX(0);
    z-index: 20;
  }
}

main .section1 {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .section1 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}
main .section1 #textH2 {
  position: relative;
  color: #fff;
  font-size: 10em;
  z-index: 1;
}
main .section1 #textH2 span {
  color: rgb(0, 0, 0);
}
main .section1 #road {
  z-index: 2;
}
main .section1:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #0a2a43, transparent);
  z-index: 10000;
}
main .section1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0a2a43;
  z-index: 10000;
  mix-blend-mode: color;
}
main .section2 #introduction {
  margin-top: 20vh;
  margin-bottom: 20vh;
  padding: 100px;
}
main .section2 #introduction .textBox p {
  text-align: center;
  color: #fff;
  line-height: 32px;
  letter-spacing: 1px;
}
main .section2 .content {
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main .section2 .content .card {
  height: 500px;
  width: 350px;
  box-shadow: 2px 6px 10px #02070b;
  transition: 0.3s;
}
main .section2 .content .card .top {
  height: 15%;
  width: 100%;
  padding: 20px;
  background: #fff;
  display: flex;
  align-items: center;
  border-radius: 4px 4px 0 0;
}
main .section2 .content .card .center1 {
  width: 100%;
  height: 50%;
  background: url(../img/ti\ brabo1.jpg) center/cover;
}

main .section2 .content .card .center2 {
  width: 100%;
  height: 50%;
  background: url(../img/2ti.jpeg) center/cover;
}

main .section2 .content .card .center3 {
  width: 100%;
  height: 50%;
  background: url(../img/3ti.jpg) center/cover;
}

main .section2 .content .card .center4 {
  width: 100%;
  height: 50%;
  background: url(../img/consiencia_negra.jpeg) center/cover;
}

main .section2 .content .card .bottom {
  height: 50%;
  width: 100%;
  padding: 20px;
  background: #fff;
  border-radius: 0 0 4px 4px;
  padding-top: 24%;
}
main .section2 .content .card .bottom p a {
  color: #000;
  transition: 0.4s;
  
}
main .section2 .content .card .bottom p #first:hover {
  color: #D96A73;
  
}
main .section2 .content .card .bottom p #second:hover {
  color: #3BA7BF;
}
main .section2 .content .card .bottom p #third:hover {
  color: #F2A477;
}
main .section2 .content .card .bottom p #consience:hover {
  color: #EBC723;
}
main .section2 .content .card:hover {
  transform: scale(1.02);
}

footer {
  width: 100%;
  height: 40vh;
  background: #23232e;
  transform: translateY(30vh);
  padding: 40px;
}
footer ul li {
  list-style-type: none;
  color: white;
}/*# sourceMappingURL=style.css.map */